MouseHunter/Connected Services/ServiceReference/Service121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfMouceService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfMouceService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MouseEv">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MouseEvent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MouseEv" nillable="true" type="tns:MouseEv" />
</xs:schema>