MouseHunter/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60629/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMouceService" />
  <xs:import schemaLocation="http://localhost:60629/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Authorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="log" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMouceService" minOccurs="0" name="mouse" nillable="true" type="q1:MouseEv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadFromDBResult" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMouceService" minOccurs="0" name="GetInfoResult" nillable="true" type="q3:GetEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>